.advantages {
	padding-top: var(--header-height);
	--bottom-margin: 0.625rem;
	position: relative;
}
.advantages-content {
	height: calc(100vh - var(--header-height));
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.advantages-title {
	text-transform: uppercase;
	width: 100%;
}
.advantages-media-group {
	position: relative;
	width: 100vw;
	height: var(--image-size-calc);
}
.advantages-media-group > * {
	position: absolute;
	width: var(--image-size);
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	max-width: var(--image-size);
	max-height: var(--image-size-calc);
	aspect-ratio: 1 / 1;
	transition: all 0.5s ease-out;
}
.advantages-media-liquidity {
	/* transform: translateX(-50%) rotate(0deg); */
}
.advantages-media-pools {
	/* transform: translateX(calc(-50% + 125%)) rotate(15deg); */
}
.advantages-media-dashboard {
	/* transform: translateX(calc(-50% + 250%)) rotate(15deg); */
}
.advantages-description {
	text-align: center;
	max-width: 22ch;
	height: 5ch;
	width: 100%;
}
