.hero {
	padding-top: var(--header-height);
	position: relative;
	--skew-degree: 15deg;
}

.hero-content {
	position: relative;
	height: calc(100vh - var(--header-height));
	display: grid;
	place-content: center;
	place-items: center;
}
.hero-title {
	text-transform: uppercase;
	text-shadow: 5px 5px 0px #ffffff;
	margin-block-end: 0.75rem;
}
.hero-text {
	margin-block-end: 3rem;
}
.hero-button-group {
	justify-content: center;
	width: 100%;
}
.hero-button {
	width: clamp(150px, 20vw, 220px);
	height: 50px;

	display: grid;
	position: relative;
	place-items: center;

	margin-inline: 6px;

	background: transparent;
	color: black;
	font-weight: 300;
	font-size: var(--font-size-200);
	border: none;

	overflow: hidden;
	transform: skew(calc(var(--skew-degree) * -1));
	transition: color 0.25s ease-in-out;
	cursor: pointer;
}
.hero-button::before,
.hero-button::after {
	content: '';
	position: absolute;
	inset: 0;
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	z-index: -1;
}
.hero-button::before {
	background-color: transparent;
	border: 2px solid black;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.hero-button::after {
	background-color: black;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	transform-origin: left;
	transform: scaleX(0);
	opacity: 0;
}
.hero-button:hover::after {
	transform: scaleX(1);
	opacity: 1;
}
.hero-button:hover {
	color: white;
}
.hero-button span {
	transform: skew(var(--skew-degree));
}
.hero-scroll-icon {
	position: absolute;
	top: calc(100vh - 3rem);
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	margin-top: auto;
	margin-bottom: 0;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}
.fade-in {
	animation: fade-in 0.2s forwards;
}
.fade-out {
	animation: fade-out 0.2s forwards;
}
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
.hero-background {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	min-width: 945px;
	/* width: clamp(300px, 100vw, 2560px); */
	/* min-width: 1440px; */
	pointer-events: none;
}
.hero-background-front {
	top: 55%;
	/* bottom: -58%; */
}
.hero-background-middle {
	top: 20%;
	/* bottom: -8%; */
}
.hero-background-back {
	top: 3%;
	/* bottom: -11%; */
}
