html {
	font-family: 'Montserrat', sans-serif;
}
#root {
	--header-padding: 3.5rem;
	--header-height: 5rem;

	--image-size: 21.875rem;
	--image-size-calc: calc(var(--image-size) - (90px - 10vh));

	--fs-100: 1rem;
	--fs-200: 1.25rem;
	--fs-300: 1.5rem;
	--fs-400: 2.5rem;
	--fs-500: 4rem;

	--fw-light: 300;
	--fw-normal: 400;
	--fw-semi-bold: 500;
	--fw-bold: 600;
	--fw-black: 900;

	--primary-color: #000000;
	--secondary-color: #808080;

	--gradient-main: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c, #3f87a6, #f69d3c);

	overflow: hidden;
}
.scrolling-view {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.scrolling-view::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
.section-name {
	position: absolute;
	bottom: 0;
	left: 0;
	max-height: calc(100vh - var(--header-height));
	height: fit-content;
	transition: opacity 200ms ease-in;
	z-index: 999;
}

/* Utility classes */
.container {
	width: min(100% - var(--container-padding, 3rem), 80rem);
	margin-inline: auto;
}
.even-columns {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
}
.flex {
	display: flex;
}
.direction-column {
	flex-direction: column;
}
.background-gradient {
	background: linear-gradient(180deg, rgba(247, 247, 247, 0) 11.59%, #f7f7f7 36.96%),
		linear-gradient(0deg, #d5d9ff, #d5d9ff),
		linear-gradient(90deg, #00fff0 0%, #bd00ff 39.58%, #ff8700 69.79%, #fff500 100%), #f7f7f7;
	background-blend-mode: normal, luminosity, normal, normal;
}
.underline-gradient {
	background: linear-gradient(
			90deg,
			hsl(176, 100%, 50%) 0%,
			hsl(284, 100%, 50%) 38%,
			hsl(32, 100%, 50%) 68%,
			hsl(58, 100%, 50%) 100%
		),
		#d9d9d9;
}
.secondary {
	color: var(--secondary-color);
}
.layer-front {
	z-index: 999;
}
.layer-middle {
	z-index: -1;
}
.layer-back {
	z-index: -2;
}

.layer-hero {
	z-index: 1;
}
.layer-adv {
	z-index: 2;
}
.layer-why {
	z-index: 3;
}
.layer-roadmap {
	z-index: 4;
}

/* Typography */

.fs-100 {
	font-size: var(--fs-100);
}
.fs-200 {
	font-size: var(--fs-200);
}
.fs-300 {
	font-size: var(--fs-300);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-500 {
	font-size: var(--fs-500);
}

.fw-light {
	font-weight: var(--fw-light);
}
.fw-normal {
	font-weight: var(--fw-normal);
}
.fw-semi-bold {
	font-weight: var(--fw-semi-bold);
}
.fw-bold {
	font-weight: var(--fw-bold);
}
.fw-black {
	font-weight: var(--fw-black);
}
.text-center {
	text-align: center;
}

@media (min-width: 120rem) {
	html {
		font-size: 20px;
	}
}
@media (min-width: 135rem) {
	html {
		font-size: 24px;
	}
}
@media (max-width: 55rem) {
	html {
		font-size: 12px;
	}
	.section-name {
		display: none;
	}
	.fs-100 {
		font-size: var(--fs-200);
	}
}
@media (max-width: 35rem) {
	#root {
		--image-size: 250px;

		--fs-500: 3rem;
	}
}
